<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Certificates and courses</title>
</head>
<body>
<h1>In this page you can reach the certifications that I've completed and schools where I've participated</h1>
<ul>
    <li><a href="https://portal.certiport.com/Portal/Pages/PrintTranscriptInfo.aspx?action=Cert&id=414&cvid=jlqG6GsGh69aqvgbIui9eg==">AZ-900: Microsoft Azure Fundamentals</a></li>
    <p></p>
    <li>
       <button type="button" class="collapsible">Data Scientist With Python Track (88 hours) in Datacamp.</button>
    <div class="content">
        <p></p>
        <a href = 'https://www.datacamp.com/statement-of-accomplishment/track/a9cdb364aa32f16e2011560373745426634ea540'>Certificate All Track</a>
        <p></p>
        <p>This track includes the courses:</p>
        <ol>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/25e938df3d55a1ac28b3cb98879abe6137fd75a2'> Introduction to Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/de16d9a12a221c840a07a7133745a5ea9bd07234'> Intermediate Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/f91d54ecba8658f1ea4b78d1b41fb3a745a63836'> Data Manipulation with pandas</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/9a53605bbcd7536e8500eba719d63654488693b3'> Joining Data with pandas</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/c3a651c63e465443fd8a2ac349f4820d8105e769'> Introduction to Data Visualization with Matplotlib</a> </li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/f6d1043e318985086679bfee85f2fbeacb9706b0'> Introduction to Data Visualization with Seaborn</a> </li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/2d490810cd582a7c18f0ee6478d33cc91139e983'> Python Data Science Toolbox (Part 1)</a> </li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/1a15f1e6508cb2317fb2316ba5af9bd95f10b993'> Python Data Science Toolbox (Part 2)</a> </li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/2e712a931be28f9546ec8eb8eefc65f105f27bf9'>Intermediate Data Visualization with Seaborn</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/6fbf1cd045f337eb8d0d164220b3341ae7fb3481'>Introduction to Importing Data in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/66a7878f9f6d1f151bd3c9c09810dbcbde09d0db'>Intermediate Importing Data in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/4be67a299199209f0543b87d7419e61395bf59ba'>Cleaning Data in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/d78cb907d145bf070d553af76b12492ee82b7d0b'>Working with Dates and Times in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/fced7b66c9036f13aabc46c413bbcf0b014720b9'>Analyzing Police Activity with pandas</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/e64a73a54b9430de824d25d7b174de9c54768b67'>Statistical Thinking in Python (Part 1)</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/da9c5bc54c6f27a42510e49a7fbfa410f786122f'>Statistical Thinking in Python (Part 2)</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/49172970152cd9b9e31fde00c8e3af15663a8f69'>Supervised Learning with scikit-learn</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/9653b6b36f5ebe8a111d73bdbb90765b4b611a59'>Unsupervised Learning in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/91021b661f10ffa0a945795501391dd5bd9733cf'>Machine Learning with Tree-Based Models in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/135d28b0d11e58f4e682aaa82a4d4747d2e3d8ca'>Case Study: School Budgeting with Machine Learning in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/b9487cc74a7afb91bbc69b280c65722dd3f8b901'>Cluster Analysis in Python</a></li>
        </ol>
    </div>
    </li>
    <p></p>
    <li>
       <button type="button" class="collapsible">Data Analyst With Python Track in Datacamp.</button>
    <div class="content">
        <p></p>
        <a href = 'https://www.datacamp.com/statement-of-accomplishment/track/'>Certificate All Track</a>
        <p></p>
        <p>This track includes the courses:</p>
        <ol>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/cab54b0626442e7d443ce9ed3129078ced30afd1'> Introduction to Data Science in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/de16d9a12a221c840a07a7133745a5ea9bd07234'> Intermediate Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/f91d54ecba8658f1ea4b78d1b41fb3a745a63836'> Data Manipulation with pandas</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/9a53605bbcd7536e8500eba719d63654488693b3'> Joining Data with pandas</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/c3a651c63e465443fd8a2ac349f4820d8105e769'> Introduction to Data Visualization with Matplotlib</a> </li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/f6d1043e318985086679bfee85f2fbeacb9706b0'> Introduction to Data Visualization with Seaborn</a> </li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/2e712a931be28f9546ec8eb8eefc65f105f27bf9'>Intermediate Data Visualization with Seaborn</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/6fbf1cd045f337eb8d0d164220b3341ae7fb3481'>Introduction to Importing Data in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/66a7878f9f6d1f151bd3c9c09810dbcbde09d0db'>Intermediate Importing Data in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/4be67a299199209f0543b87d7419e61395bf59ba'>Cleaning Data in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/4a2f6d5e0ff72a33835019c57c6e56592a8abd7f'>Exploratory Data Analysis in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/fced7b66c9036f13aabc46c413bbcf0b014720b9'>Analyzing Police Activity with pandas</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/b6804c4f2c8d5a1783944133d334cfecccf56f0f'>Working with Categorical Data in Python</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/da9c5bc54c6f27a42510e49a7fbfa410f786122f'>Introduction to SQL</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/44d04af81d404c4a698412eab3716908ca3db968'>Streamlined Data Ingestion with pandas</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/c30a24740ff673a007afe7fbcb53d160632ceaea'>Introduction to Relational Databases in SQL</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/a0a4684f62e1a2646650a7068ca30865d4cababe'>Joining Data in SQL</a></li>
             <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/'>Introduction to Databases in Python</a></li>
        </ol>
    </div>
    </li>
    <p></p>
    <li><a href="https://drive.google.com/file/d/1oa06IySgWzWL2Sles453oZY_WQOrsIJy/view?usp=sharing">First International School of Mathematical Epidemiology</a></li>
    <p></p>
    <li><a href="https://drive.google.com/file/d/1vvh6PONv5dC_XD4QbNNHKBpqV75Q0TkJ/view?usp=sharing">Data Science School</a></li>
    <p></p>
    <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/e00c0b29de8909d6c789778cda9d03ff49cc8ae9'>Introduction to Tableau</a></li>
    <p></p>
    <li><a href = 'https://www.datacamp.com/statement-of-accomplishment/course/27b689151e69b3223fc3dac4d206b46ec4c25957'>Object-Oriented Programming in Python</a></li>
    <p></p>
    <li><a href="https://drive.google.com/file/d/1McASanpGWbZ5XSIWx98Y4nHbTzkD4RcZ/view?usp=sharing">R Programming Course</a></li>
    <p></p>
    <li><a href="https://www.coursera.org/account/accomplishments/verify/YN4RJG49GTQE">R Programming</a></li>
    <p></p>
    <li><a href="https://www.coursera.org/account/accomplishments/verify/4AJ33D5PZLKK">The Data Scientist’s Toolbox</a></li>
    <p></p>
    <li><a href="https://www.coursera.org/account/accomplishments/verify/VRM9QECAJU5A">SQL for Data Science</a></li>
    <p></p>
    <li><a href="https://www.coursera.org/account/accomplishments/verify/D8D4EHTT4C7X">Excel Skills for Business: Intermediate II</a></li>
    <p></p>
    <li><a href="https://www.coursera.org/account/accomplishments/verify/MVKF94JP45FH">Excel Skills for Business: Intermediate I</a></li>
    <p></p>
    <li><a href="https://www.coursera.org/account/accomplishments/verify/4W5T338PMQ2G">Excel Skills for Business: Essentials</a></li>
    <p></p>
    <li></li>
</ul>
<script type = "text/javascript" src = "../static/js/collapsible.js">
</script>
</body>
</html>