<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Isaac's Page!</title>
</head>
<body style="font-family: sans-serif">
  <h1>Welcome to my personal page</h1>
  <p>Hello World!, I'm Isaac and this page is made with Flask, HTML, CSS, JavaScript and deployed with Heroku :)</p>
  <h2>About my career and skills:</h2>
  <ul>
      <li>Graduated Mathematician from <a href = "https://www.unam.mx/">UNAM.</a> &#127891;</li>
      <li>Currently working as Data Scientist 📈 in <a href = "https://www.cargamos.com/"> Cargamos.</a> </li>
      <li>Former Chat Bot Developer &#129302; in <a href = "https://www.apli.jobs/"> Apli.</a> </li>
      <li>Using Python, SQL and R since 2018 for Data Analysis and Data Science. 👨‍💻</li>
      <li>Data Visualization</li>
      <li>Machine Learning models building and deployment in production</li>
      <li>GNU/Linux intermediate user. 🐧</li>
      <li>Intermediate-Advanced English 🇺🇸 and native Spanish 🇪🇸</li>
      <li>Cloud (Azure, GCP)</li>
      <li>Critical thinking, decision-making and problem solving</li>
      <li>Communication and soft skills</li>
  </ul>
  <h2>Resume:</h2>
  <p><a href = https://www.canva.com/design/DAEunVRudO0/ZiBFOedVzcFXWxXXWRpWmA/view?utm_content=DAEunVRudO0&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink>Resume</a></p>
  <h2>Interested in stuff like:</h2>
    <ul>
        <li>Data Science, Data Analysis and Data Engineering.</li>
        <li>Cloud computing: Azure, AWS, GCP.</li>
        <li>Docker, Kubernetes and Software Engineering.</li>
    </ul>
  <h2>Currently learning about:</h2>
    <li>Data Engineering</li>
    <li>No SQL Databases</li>
    <li>JavaScript</li>
    <li>Scala</li>
  <h2>Contact me to collaborate!</h2>
  <p>Here you can find the links to my profiles where you can follow and contact me to collaborate in projects: 🕵️‍</p>
    <ul>
        <li><a href="https://github.com/axiom-of-choice">Visit my GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/isaac-hernandez-garcia-9905/">Visit my LinkedIn</a></li>
        <li>Email:<a href="isadohergar@gmail.com">isadohergar@gmail.com</a></li>
    </ul>
  <h2><a href="{{url_for('certificates')}}">Certifications, courses, events and workshops I've attended</a></h2>
  <p></p>
  <h2><a href="{{url_for('me')}}">Meet me and my friend!</a></h2>
  <div id="wcb" class="carbonbadge wcb-d"></div>
  <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
  <p></p>
</html>
