<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Isaac's Page!</title>
</head>
<body style="font-family: sans-serif">
  <h1>Welcome to my personal page</h1>
  <p>Hello World!, I'm Isaac and this page is made with basic Flask and HTML skills, and deployed with Heroku :)</p>
  <h2>About my career and skills:</h2>
  <ul>
      <li>Graduated Mathematician from <a href = "https://www.unam.mx/">UNAM.</a> &#127891;</li>
      <li>Currently working as Chat Bot Developer. &#129302;</li>
      <li>Using Python, SQL and R since 2018 for Data Analysis and Data Science. 👨‍💻</li>
      <li>GNU/Linux intermediate user. 🐧</li>
  </ul>
  <h2>Interested in stuff like:</h2>
    <ul>
        <li>Data Science, Machine Learning and so on.</li>
        <li>Cloud computing: AWS, Azure.</li>
        <li>Docker, Kubernetes and Software Development.</li>
    </ul>
  <h2>Contact me to collaborate!</h2>
  <p>Here you can find the links to my profiles where you can follow and contact me to collaborate in projects: 🕵️‍</p>
    <ul>
        <li><a href="https://github.com/axiom-of-choice">Visit my GitHub profile!</a></li>
        <li><a href="https://www.linkedin.com/in/isaac-hernandez-garcia-9905/">Visit my LinkedIn</a></li>
    </ul>
  <h2>Meet my friend!</h2>
  <p>Although he is no longer physically with me, he always accompanies me. &#128054;</p>
    <img src = "https://i.ibb.co/fNHPw3X/my-friend.jpg" alt="My friend">
  <h2> This is me :)</h2>
    <img src = "https://i.ibb.co/DtG7ch2/Hola.jpg" alt="Me">
</html>