<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>Meet me</title>
</head>
<body>
  <h2>Hello! :)</h2>
  <p> This is me and my friend, although he is no longer physically with me, he always accompanies me. &#128054;</p>
    <img src = "https://i.ibb.co/DtG7ch2/Hola.jpg" alt="Me">
    <img src = "https://i.ibb.co/fNHPw3X/my-friend.jpg" alt="My friend">
  <p></p>
    <a href = "https://anchor.fm/MomentosMatematicos">Enjoy my maths podcast :)</a>
  <p></p>
    <img src = "https://c.tenor.com/PLcUk4kPnCgAAAAC/fractal.gif" alt="Fractal">
</body>
</html>